.header{
  background-color: $secondary-color;
  padding: 10px;
}

.menu-link{
  border: none;
  text-decoration: none;
  color: $primary-color;
  padding: 5px 24px;

  &:hover{
    border-radius: 2px;
    //color: $secondary-color;
    background-color: $third-color;
  }
}


