.table-login{
  border: none;
  width: 30%;
  margin: 0px 10% 0px 0px;
  padding: 10px;
  float: right;
  background-color: rgb(124, 65, 41);
  color: white;
}

.subtitle{
  text-align: center;
  padding: 0px;
}

.lable-login{
  text-align: right;
}

.btn-login{
  border: none;
  color: black !important;
  background-color: white;
}

