.table-login{
  border: none;
  margin: 0px 10% 0px 0px;
  padding: 10px;
  background-color: rgb(124, 65, 41);
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.subtitle{
  text-align: center;
  padding: 0px;
}

.lable-login{
  text-align: right;
}

.btn-login{
  border: none;
  color: black !important;
  background-color: white;
}

