.table-dragons {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.table-dragons td, .table-dragons th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-dragons tr:nth-child(even){background-color: #f2f2f2;}

.table-dragons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(124, 65, 41);
  color: white;
}

.center{
  text-align: center;
}