@import './base.scss';
@import './variables';

.footer{
  background-color: $secondary-color;
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0px;
  position: fixed;
  text-align: center;
  box-sizing: border-box;
}

p{
  color: $primary-color;
  margin: 0px;
  padding: 0px;
  font-size: 23px;
}